body {
	background color: powderblue;
}
.left {
    height: 300px;
    width: 600px;
}

#header {
	font:bold;
}

p {
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	padding-left: 30px
}

figcaption {
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
}